body {
    background-color: #98ff96;
    height: 100vh;
}

.sidebar {
    background-color: #98ff96 !important;
    width: 400px;
    height: calc(100% - 56px);
    position: fixed;
    overflow-x: hidden;
    padding-top: 47px;
    height: 100vh;
}

.sidebar a {
    background-color: #ffffff !important;
    display: block;
    padding: 34px;
    text-decoration: none;
    color: black !important;
}

.list-group {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.borde-redondo {
    border-radius: 10px 10px 0px 0px;
}


.sidebar a:hover {
    background-color: #009929 !important;
    color: white !important;
}

.sidebar .active {
    background-color: #6c757d;
    color: white;
}

/* Estilos para las tarjetas */

.p-10 {
    padding: 10px;
}

.card {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Estilos para el footer */
footer {
    background-color: #e5e9ee !important;
    color: black !important;
    text-align: center;
    height: 40px;
    font-size: 0.8rem;
    position: fixed;
    width: 100%;
}

main {
    margin-left: 400px;
    background-color: #98ff96!important;  
}

.btn-verde {
    background-color: #009929;
    color: white;
}

.btn-verde:hover {
    background-color: #003d00;
    color: white;
}

.fondo-verde-oscuro {
    background-color: #003400 !important;
}

.fondo-verde{
    background-color: #003400;
    color: white;
    vertical-align: middle;
}

.fondo-blanco{
    background-color: white!important;
    border: white;
}

.separador {
    border: none;
    height: 3px;
    background-color: green;
  }


  .centro{
    text-align: center;
  }