<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <h1>EDITAR PERFIL</h1>
                        </div>
                        <div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input [(ngModel)]="usuario.name" type="text" class="form-control border-dark" id="nombre">
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input [(ngModel)]="usuario.email" type="email" class="form-control border-dark" id="email">
                            </div>

                            <div class="mb-3">
                                <label for="telefono" class="form-label">Telefono</label>
                                <input [(ngModel)]="usuario.telefono" type="text" class="form-control border-dark" id="telefono">
                            </div>

                            <div class="mb-3">
                                <label for="edad" class="form-label">Edad</label>
                                <input [(ngModel)]="usuario.edad" type="number" class="form-control border-dark" id="edad">
                            </div>

                            <div class="mb-3">
                                <label for="peso" class="form-label">Peso</label>
                                <input [(ngModel)]="usuario.peso" type="number" class="form-control border-dark" id="peso">
                            </div>

                            <div class="mb-3">
                                <label for="altura" class="form-label">Altura</label>
                                <input [(ngModel)]="usuario.altura" type="number" class="form-control border-dark" id="Altura">
                            </div>

                            <div class="mb-3">
                                <label for="sexo" class="form-label">Sexo</label>
                                <select [(ngModel)]="usuario.sexo" class="form-select border-dark" name="sexo" id="sexo">
                                    <option value="m">Masculino</option>
                                    <option value="f">Femenino</option>
                                </select>
                            </div>

                            <div class="d-grid gap-2 mt-4">
                                <button (click)="actualizarUsuario()" class="btn btn-primary btn-verde">Actualizar</button>
                                <button routerLink="/perfil" class="btn btn-secondary btn-verde-oscuro">Volver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>